.Spaceport {
  grid-area: Spaceport;
}

.Stella-Montis {
  grid-area: Stella-Montis;
}

.Buried-City {
  grid-area: Buried-City;
}

.Dam {
  grid-area: Dam;
}

.Blue-Gate {
  grid-area: Blue-Gate;
}

.container {
  display: grid;
  grid-template-areas:
    '. Spaceport . Stella-Montis'
    'Buried-City . Dam Blue-Gate';
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.current {
  color: #f6bf3e;
}

.upcoming {
  color: #7f7975;
}

.condition {
  width: max-content;
}

.time {
  justify-self: end;
}

ul {
  list-style-type: none;
}

body {
  background-color: #212024;
  color: #f7eee0;
  font-family: Barlow, Helvetica;
}
