.spaceport {
  grid-area: spaceport;
}

.stella-montis {
  grid-area: stella-montis;
}

.buried-city {
  grid-area: buried-city;
}

.dam {
  grid-area: dam;
}

.blue-gate {
  grid-area: blue-gate;
}

.container {
  display: grid;
  grid-template-areas:
    '. spaceport . stella-montis'
    'buried-city . dam blue-gate';
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.current {
  color: #f6bf3e;
}

.upcoming {
  color: #7f7975;
}

.condition {
  width: max-content;
}

.time {
  justify-self: end;
}

ul {
  list-style-type: none;
}

body {
  background-color: #212024;
  color: #f7eee0;
}
